annotated-types==0.7.0
anthropic==0.50.0
anyio==4.9.0
attrs==25.3.0
Automat==20.2.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
constantly==23.10.4
cryptography==42.0.8
ctrader_open_api==0.9.2
distro==1.9.0
exceptiongroup==1.2.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inputimeout==1.0.4
jiter==0.9.0
numpy==2.2.5
opencv-python==4.11.0.86
pandas==2.2.3
protobuf==3.20.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.3
pydantic_core==2.33.1
pyOpenSSL==24.1.0
pypdf==5.4.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytimeparse==1.1.8
pytz==2025.2
requests==2.32.3
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
tomli==2.2.1
twelvedata==1.2.25
Twisted==24.3.0
#twisted-iocpsupport==1.0.4
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
zope.interface==7.2
